<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>やるべきこと</th>
      <th>いつまでに？</th>
      <th>進捗状況</th>
    </tr>
  </thead>
  <tbody>
    <%= form_for(task) do |f| %>
    <tr>
      <td><%= f.text_field :content %></td>
      <td><%= f.date_field :duedate %></td>
      <td><%= f.select :status, ["未着手","仕掛中","完了"] %></td>
    </tr>
    <tr><td colspan="3" style="text-align:right;"><%= f.submit '追加' %></td></tr>
    <% end %>
  </tbody>
</table>