<div class="row col-xs-8">
  <table style="width:100%" class="table-bordered  centered">
    <tr>
      <th>No.</th>
      <th>Task</th>
      <th>Due</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @tasks.each do |t| %>
    <% user = t.user %>
    <tr>
      <td><%= t.id %></td>
      <td><%= t.content %></td>
      <td><%= t.duedate %></td>
      <td><%= t.status %></td>
      <td>
        <% if current_user == t.user %>
          <%= link_to "Edit", edit_task_path(t), class: 'btn btn-primary btn-sm' %>
        <% end %>  
      </td>
      <td>
        <% if current_user == t.user %>
          <%= link_to "Delete", t, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
        <% end %>  
      </td>
    </tr>
    <% end %>
  </table>
  <%= paginate tasks %>

</div>